
# ---> Project
keystore/
log/

.idea/

# ---> Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

.settings

# ---> Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ---> Node
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Next.js
.next/
out/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace

# Testing and coverage
coverage/
.nyc_output/

# Static export
export/

# Miscellaneous
*.tgz
*.lock

# ---> VisualStudioCode
# VS Code settings
.vscode/
*.code-workspace

# VS Code Extensions
.vscode-test/

# History of opened files
.history/

# Log files
*.log

# Backup files
*.bak
*.tmp
*.temp
*.zip

# Other
*.swp
*.swo
*.swn
*.DS_Store
Thumbs.db

#Ignore the following VS Code files and folders
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

#Ignore eclipse files and folders
.settings/
.project
.factorypath
.classpath

#Ignore specific files inside backend
backend/logs/
backend/.mvn/*
backend/Private/
backend/microservices/logs/
backend/microservices/credential-service/credential-server/potol/

#Ignore specific files inside frontend 
frontend/.next
frontend/node_modules
frontend/pnpm-lock.yaml
#Ignore all target folders
**/target/

#Ignore all junk
junk/
junk2/

./frontend_1
